* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

header nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

header nav a.active {
  padding: 10px 0;
  background-color: aquamarine;
}

.posts img {
  max-height: 200px;
}

.posts button {
  margin-bottom: 20px;
}

.posts a {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 0 10px;
}

.post img {
  max-height: 400px;
}

.post a {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 0 10px;
}